---

---
$primaryColor: #F4F4F4;
$guardianBlue: #005689; 

body {
	font-family: Open Sans, sans-serif;
	background-color: #F4F4F4;
}

.navbar {
  background-color: #005689;
  font-family: "Guardian Egyptian Headline", Georgia, serif;
  clear:both;
  margin-bottom: 0;
  a {
    color: #fff;
  }
}

figure {
   padding: 5px;
   font-size: .875em;
   display: table;
   margin-right: auto;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    padding: 0 5px 5px;
}​

body {
	font-family: Open Sans, sans-serif;
	background-color: #F4F4F4;
}

.navbar {
  background-color: #005689;
  font-family: "Guardian Egyptian Headline", Georgia, serif;
  clear:both;
  margin-bottom: 0;
  a {
    color: #fff;
  }
}

.nav-tabs {
  li.active a {
  background: #dfdfdf;
  border-right: 1px solid #ebebeb;
  border-right: 0.0625rem solid #ebebeb;
  font-size: 15px;
  color: $guardianBlue;
  }
  li a {
  background: #00456e;
  border: 1px solid #a9a9a9;
  border-bottom-color: #999;
  font-size: 15px;
  color: #fff;
  }
}

.nav li a:hover {
text-decoration: none;
background-color: $guardianBlue;
}

.site-header{

  background-color: $guardianBlue;
  clear:both;
  margin-bottom: 5px;

  h1 {
    font-family: "Guardian Egyptian Headline", Georgia, serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  .the {
    color: #AAD8F1;
    display: inline-block;
  }

  .guardianTitle {
  color: #fff;
  display: inline-block;
  }

  .the {
    color: #AAD8F1;
    display: inline-block;
  }

  .guardianTitle {
  color: #fff;
  display: inline-block;
  }
	
	ul{
        padding:0;
        margin:0;
    }

    li{
    
       list-style:none;
       float: left;
       margin-right: 10px;
    }  

    a{

       display:block;
       padding: 11px;
       background-color: $guardianBlue;
       color:#FFF;
       text-decoration: none;
    }
}

.nav-tabs{
  font-family: "Guardian Egyptian Headline", Georgia, serif;
}
.tab-content{
  font-family: "Guardian Egyptian Headline", Georgia, serif;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.btn btn-primary {
	
	display: inline-block;
	padding: 15px;
	margin-right: 10px;
	border: 1px solid $primaryColor;
	border-radius: 7px;
	font-size: 80%;
	font-weight: "bold";
	text-transform: uppercase;
	text-decoration: none;
}

#uknews a {
  color: #D61D00;
  text-decoration: none;
}

#football a {
  color: #008000;
  text-decoration: none;
}

#travel a {
  color: #066EC9;
  text-decoration: none;
}

.nav-tabs {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

img {
  width:500px;
  height:auto;
  align: center;
}